extends layout

block content
  div.flex-container.flex-row.justify-center.flex-wrap(style="flex-grow: 1;")
    div#left-container.flex-container.flex-row.justify-center.flex-wrap(style="flex-grow: 1;")
    div#right-container.flex-container.flex-row.justify-center.flex-wrap(style="flex-grow: 1;")
