extends layout

block content
  div.flex-row-start-center
    div#left-container.flex-row-start-center
    div#right-container.flex-row-start-center
  div.flex-row-center-center
    button.btn.btn-success Find Difference!
      
