doctype html
html
  head
    title= title
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js", charset="utf-8")
    script(type="text/javascript", src="/library/bootstrap/js/bootstrap.js")
    link(rel="stylesheet", href="/library/bootstrap/css/bootstrap.css")
    
  body
    include ./nav.jade
    block content
    script(type="text/javascript", src="/build/bundle.js")
