div.flex-container.flex-row.flex-wrap.justify-start.align-center.navigation
  div.navigation-item DIFF
  span.navigation-item Home
  span.navigation-item Contact
  span.navigation-item About
  div.navigation-clear-space
  div.navigation-buttons
    button.btn.btn-default Sign up
    button.btn.btn-success Create free account
